[package]
name = "surreal_bot"
version = "0.2.2"
edition = "2021"
authors = ["Raphael Darley <raphael.darley@surrealdb.com>"]

[dependencies]
anyhow = "1.0.71"
dotenv = "0.15.0"
memorable-wordlist = "0.1.7"
once_cell = "1.18.0"
serde = "1.0.166"
serde_json = "1.0.100"
serenity = { default-features = false, features = [
    "client",
    "gateway",
    "model",
    "rustls_backend",
], version = "0.11.6" }
surrealdb = { git = "https://github.com/surrealdb/surrealdb.git", features = [
    "kv-mem",
    "kv-rocksdb",
] }
tokio = { version = "1.29.1", features = ["macros", "rt-multi-thread"] }
